.header {
    font-size: 20px;
    display: flex;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;  /*  Внутренние отступы   */
    padding-top: 10px;    /*  Внутренние отступы   */
    padding-left: 20px;
    padding-right: 20px;
}
.logo {
    margin-right: 50px;
    text-decoration: none;
}
ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
ul > li {
    margin-right: 30px;
}
.box {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    border-bottom: 1px solid #000;
}
.aside {
    background-color: lavender;
    padding: 10px 20px;
}
.post {
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal
}
.body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
}
.footer{
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-right:20px;
    padding-left:20px;
}
.logo{
    color: lightgreen;
    background-color:rebeccapurple;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.ul{
    color:rebeccapurple;
    font-weight: 700;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal
}
.Silka{
    color:rebeccapurple;
    font-weight: 700;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal
}
.s{
    color:rebeccapurple;
    font-weight: 700;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
.h{
    text-transform:uppercase;
    letter-spacing:0.01em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.D{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.gg{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.section{
    background-color: lavender;
    padding: 5px 20px;
    margin:20px
}